@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.contenedor {
    background: #F2F5F9;
    width: 100vw;
    height: 100vh;
    display :grid;
    place-content: center;
}

.body{
width: 400px;

background: white;

}

.mujer{
width: 400px;
height: 250px;
border-radius: 15px;
}

.animation{
    margin-top: -50px;

}

.title{
    margin-top: -49px;
    font-family: poppins;
    font-size: 1.5rem;
    padding: 40px;

}

.p1{
    font-family: lato;
    font-size: 1rem;
    padding: 40px;
    margin-top: -80px;
    color: #677489;

}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 150px;
    padding: 40px;
    margin-top: -40px;
}
.perfil{
    font-family: poppins;
    font-size: 15px;
}
.p2{
    font-size: 12px;
    font-family: lato;
    margin-top: -10px;
    color: #677489;

}

.tag{
    margin-top: -100px;
    margin-left: 100px;
}